<body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark navbar-laravel">
        <div class="container">
            <a class="navbar-brand" href="#">Meeting Planner</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Register</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>


    <body>
        <br>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="background-color: rgb(87, 236, 94);">
                            <h5>Meeting Planner | Better way to schedule meetings</h5>
                        </div>
                        <div class="card-body">

                            <div class="form-group row">

                            </div>

                            <div class="row">
                                <ul class="list-group list-group-flush w-100 align-items-stretch">
                                    <li class="list-group-item text-center d-inline-block">
                                        <h5> Meeting Planner is a
                                            application used for creating and scheduling meetings. </h5>
                                    </li>
                                    <li class="list-group-item text-center d-inline-block">
                                        <h6>Create meetings in your organization in a better way ! <i class='fas fa-calendar-plus' style='font-size:24px;color:green'></i></h6>
                                    </li>
                                    <li class="list-group-item text-center d-inline-block">Make your life easier with
                                        Meeting Planner ! <b> Register Now !</b></li>
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br>
        <app-footer></app-footer>

    </body>