<nav class="navbar navbar-expand-sm bg-primary navbar-dark navbar-laravel">
  <div class="container">
    <a class="navbar-brand" href="#">Meeting Planner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body>
  <br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">

        <div class="card">
          <div class="card-header" style="background-color : orange;">
            <h5>Password Reset &#10071;</h5>
          </div>
          <div class="card-body">

            <form #createForm="ngForm" (ngSubmit)="forgotPassword()">

              <div class="row">
                <ul class="list-group list-group-flush w-100 align-items-stretch">
                  <li class="list-group-item text-center d-inline-block">Enter your email to get the password reset link
                    for your email !!!</li>
                  <li class="list-group-item text-center d-inline-block">

                    <div class="form-group row">
                      <label for="email-address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                      <div class="col-md-6">
                        <input type="email" id="email-address" class="form-control" name="email" [(ngModel)]="email"
                          #Email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                        <br>
                        <div [hidden]="Email.valid || Email.pristine" class="alert alert-danger">
                          <div *ngIf="Email.errors?.pattern">
                            ** Email is invalid!
                          </div>
                        </div>
                      </div>
                    </div>

                  </li>
                </ul>
              </div>

              <div class="wrapper">
                <button type="submit" class="btn btn-primary" [disabled]="!createForm.form.valid">
                  Send Link
                </button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br>
  <app-footer></app-footer>
</body>