<body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark navbar-laravel">
      <div class="container">
        <a class="navbar-brand" href="#">Meeting Planner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
  
        </div>
      </div>
    </nav>
  
  
    <body>
      <br>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" style="background-color: rgb(255, 177, 60);">
                <h5>Internal Server Error ! </h5>
              </div>
              <div class="card-body">

                <div class="form-group row">
                             
                </div>
  
                <div class="row">
                  <ul class="list-group list-group-flush w-100 align-items-stretch">
                        <li class="list-group-item text-center d-inline-block"><h3>Something Went Wrong !!! 500 Error &#10060;</h3></li>
                        <li class="list-group-item text-center d-inline-block">We encountered an error and unable to complete the request ! <b>Please login again !</b></li>
                    </ul>
                </div>
  
                <div class="wrapper">
                  <button class="btn btn-success" (click)="goToSignIn()">
                    Login
                  </button>
                </div>
                 
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br><br><br>
      <app-footer></app-footer>
  
    </body>